<div class="jumbotron pt-4 mt-4">
    <div class="container">
        <footer class="my-md-5 pt-md-5">
            <div class="row">
                <div class="col-12 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li class="text-muted">AnyStatus © 2017-2020</li>
                        <li class="text-muted">Developed by <a href="https://www.alonam.com">Alon Amsalem</a> and <a
                                href="https://github.com/AnyStatus/Plugins/graphs/contributors">contributors</a>. All rights reserved.</li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Sitemap</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="/docs/getting-started">Getting Started</a></li>
                        <li><a class="text-muted" href="/docs">Documentation</a></li>
                        <li><a class="text-muted" href="/docs/plugins">Plugins</a></li>
                        <li><a class="text-muted" href="/downloads">Downloads</a></li>
                        <li><a class="text-muted" href="/docs/releases">Release Notes</a></li>
                        <li><a class="text-muted" href="/docs/api">API Documentation</a></li>
                        <li><a class="text-muted" href="/support">Support</a></li>
                        <li><a class="text-muted" href="/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Social</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="/subscribe">Subscribe</a></li>
                        <li><a class="text-muted" href="https://twitter.com/AnyStatusApp">Twitter</a></li>
                        <li><a class="text-muted" href="https://www.facebook.com/AnyStatusApp/">Facebook</a></li>
                        <li><a class="text-muted" href="https://github.com/anystatus/">GitHub</a></li>
                        <li><a class="text-muted" href="/reviews">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Legal</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="/privacy-policy">Privacy Policy</a></li>
                        <li><a class="text-muted" href="/terms-of-service">Terms of service</a></li>
                        <li><a class="text-muted" href="/eula">End-User License Agreement</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
