<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">AnyStatus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav main-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/getting-started">Getting Started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/plugins">Plugins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/AnyStatusApp"><i class="fab fa-twitter" width="16" height="16"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/anystatus"><i class="fab fa-github" width="16" height="16"></i></a>
                </li>
                <li class="nav-item">
                    <a style="margin-top:2px;margin-left:5px;" class="btn btn-outline-light" href="/downloads">Download</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
