body {
    padding-top: 3.5rem;
}

.btn.btn-light {
    border: 1px solid gray;
}

.img-shadow {
    box-shadow: 0 0 12px gray;
}

.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #f7f7f7;
}

@media (min-width: 992px) {
    .main-menu li {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.navbar {
    height: 60px;
    /*
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    */
}