body {
    padding-top: 3.5rem;
}

.btn.btn-light {
    border: 1px solid gray;
}

.img-shadow {
    box-shadow: 0 0 12px gray;
}

.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #f7f7f7;
}

@media (min-width: 992px) {
    .main-menu li {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.navbar-dark {
    background-color: black !important;

    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
}