body {
    padding-top: 3.5rem;
}

.btn.btn-light {
    border: 1px solid gray;
}

.img-shadow {
    box-shadow: 0 0 12px gray;
}

.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .main-menu li {
        margin-left: 1em;
        margin-right: 1em;
    }
}
