<!doctype html>
<html lang="en">
{% include head.html %}
<body>
    {% include nav.html %}
    <main role="main">
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="//use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    {% include ga.html %}
    <script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>
    <!-- <script src="/assets/js/particles.min.js"></script> -->
    <!-- <script type="text/javascript">particlesJS.load('particles-js', '/assets/js/particles.json');</script> -->
</body>
</html>
