---
layout: page
---
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% if page.sub_title != nil %}
            <h2>{{ page.sub_title }}</h2>
            <hr />
            {% endif %}
            {{ content }}
        </div>
        <div class="col-md-3">
            <h5>Documentation</h5>
            <ul>
                <li><a href="/docs/getting-started">Getting Started</a></li>
                <li><a href="/docs/faq">Frequently Asked Questions</a></li>
                <li><a href="/docs/plugins">Plugins</a></li>
                <li><a href="/docs/triggers">Triggers</a></li>
                <li><a href="/docs/command-line">Command Line</a></li>
                <li><a href="/docs/api">API Documentation</a></li>
                <li><a href="/docs/releases">Release Notes</a></li>
            </ul>
        </div>
    </div>
</div>
